
<div class="container">
    <div class="row">
		<div class="span4 offset4 well">
			<legend>Please Sign In</legend>
          	<div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
            </div>
			
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin"}) do |f| %>
  <div>
  <%= f.email_field :email, autofocus: true, class: "span12" %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off", class: "span12" %></div>

  

  <div><%= f.submit "Sign in", class: "btn btn-info btn-block" %></div>
<% end %>

		</div>
	</div>
</div>